<header>Cardápio do Marco</header>
<section>
  <button (click)="toggleDrinks()" [ngClass]="{ 'selected': drinks }">
    Bebidas
  </button>
  <button (click)="toggleFoods()" [ngClass]="{ 'selected': foods }">
    Comidas
  </button>
</section>

<section *ngIf="foods || drinks" class="pdf">
  <div class="non-selected" *ngIf="loading">
    <div class="loader" ></div>
  </div>
  
  <pdf-viewer
    [src]="pdfSrc"
    [render-text]="true"
    (after-load-complete)="onPdfLoaded()"
    style="display: block"
    [show-all]="true"
    [zoom]="1.0"
  ></pdf-viewer>
</section>


<section class="non-selected" *ngIf="!foods && !drinks">
  <p>Selecione uma opção acima.</p>
</section>
