@font-face {
  font-family: "CustomFont";
  src: url("/public/fonts/Christmas\ Vibes.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CustomFont2";
  src: url("/public/fonts/KeplerStdLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #17286e;
  font-size: 2rem;

  font-family: "kepler-std", serif;
  font-weight: 400;
  font-style: normal;
}

section {
  display: flex;
  justify-content: flex-start;
  button {
    width: 128px;
    height: 32px;

    border: none;
    border-bottom: solid 2px #17286e;

    color: #17286e;

    &.selected{
      background-color: #17286e;
      color: #f3f3f3;
      font-weight: bold;
    }
  }
}


.pdf {
  padding-top: 16px;
  width: 100vw;
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;

  pdf-viewer {
    width: 100%;
    height: 100%;
  }
}

.loader {
  border: 8px solid #dbcbb7;
  border-top: 8px solid #17286e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.non-selected{
  width: 100vw;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
}
